@import "~vue-material/dist/theme/engine"; // Import the theme engine
@include md-register-theme("default", ( primary: md-get-palette-color(blue, 200), accent: md-get-palette-color(red, A200)));
@import "~vue-material/dist/theme/all"; // Apply the theme

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

html, body {
  overflow-x: hidden;
}

body {
  font-family: 'Roboto', sans-serif !important;
  /*-webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;*/
  width: 100%;
  height: 100%;
  /*background-color: #FFFFFF;*/
  /*color: #212121*/
}

.material-icons {
  cursor: pointer;
  font-family: 'Material Icons' !important;
}

.app {
  width: 100%;
  height: 100%;
}

.parent {
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.filter-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
}

.countries-menu {
  width: 50%;
  height: 20px;
}

.charts-area {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 20px;
  flex: 1;
  justify-content: center;
}

.chart-item {
  flex: 1;
  min-width: 33%;
  height: 100%;
}

.date-range-field {
  width: 100%;
  display: flex;
  flex-direction: row;
  border-bottom: 0.5px solid rgba(0,0,0,0.42) !important;
}

.range-picker {
  flex: 1
}

.clear-button {
  width: 20px;
  height: 20px;
}

.daterangepicker {
  color: black !important;
}

.vue-daterange-picker {
  background-color: transparent;
  color: black;
}


.reportrange-text {
  background: transparent !important;
  border: unset !important;
  padding: 2px !important;
}


/*responsive styles*/
@media only screen and (max-width: 800px) {
  .filter-container {
    width: 100%;
    padding: 0 10px;
  }

  .charts-area {
    flex-direction: column;
  }
}
